.imgCapa{
    width:40%;
    height:40%;
}
.texto{
    text-align: justify;
    border: solid;
    
}
.card-footer{
    text-align: center;
}
#erroDescricao{
    display: none;
    font-size: 0.8em;
}
#erroDescricao.visible{
    display: block;
}
input.invalid{
    border-color: red;
}
.marrom{
    color:rgb(105, 51, 6);
}
.titulo{
    color:rgb(189, 117, 75)
}

.jumbotron{
    background-color: rgb(73, 50, 8);
}
.btn-primary{
    background-color:  rgb(73, 50, 8);;
}
.btn-danger{
    background-color:rgb(189, 117, 75) ;
}